body {
  background: rgb(6, 6, 6);
  background: linear-gradient(
    20deg,
    rgba(6, 6, 6, 1) 0%,
    rgba(171, 175, 165, 1) 40%,
    rgba(244, 34, 7, 1) 50%,
    rgba(134, 134, 134, 1) 60%,
    rgba(6, 6, 6, 1) 100%
  );
  margin: 0;
  font-family: system-ui, monospace, "Courier New", Courier;
}

.hero {
  background-color: grey;
  color: rgb(122, 198, 248);
  font-weight: bolder;
  background-image: url("../images/cornersmall.jpg");
  padding-top: 70px;
  padding-bottom: 60px;
}
h1 {
  text-decoration: underline;
  position: absolute;

  top: 10px;
  left: 20px;
  animation-name: slideInLeft;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  font-size: 3rem;
  text-shadow: gainsboro 2px 6px 5px;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
  }
}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  border: solid 2px black;
  padding: 1rem;
  margin: 1rem;
  transition-duration: 1s;
  transition-delay: 0s;
}
h2 {
  font-weight: bolder;
  padding-right: 1rem;
}
.race {
  padding: 1rem;
  margin: 1rem;
}
.race:hover {
  transform: scale(1.1);
  color: black;
  background-color: white;
  cursor: pointer;
}
#img1 {
  max-width: 300px;
  max-height: 215px;
}

.theo {
  padding: 1rem;
  margin: 1rem;
}
.theo:hover {
  transform: scale(1.1);
  color: black;
  background-color: white;
  cursor: pointer;
}
#img2 {
  max-width: 300px;
  max-height: 215px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 2rem;
  margin: 2rem;
}

.navi {
  font-size: 2rem;
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
  justify-content: left;
  background-color: lightgray;
  border: solid 2px black;
  border-radius: 7px;
  position: relative;
  width: 10%;
  height: 400px;
}

.navi ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

li {
  justify-content: space-around;
}
.race {
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theo {
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theo {
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: gold;
  border-radius: 25px;
  box-shadow: 0 9px #999;
}
.button:hover {
  background-color: green;
}
.button:active {
  background-color: goldenrod;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.theo1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.theosimg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

footer {
  background-image: url("../images/seamless-asphalt.jpg");
  /* min-width: fit-content; */
  border: solid 2px black;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  margin: 1rem;
}
